@{
    ViewBag.Title = "About the GHS 2018/2019 Seniors App";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This app is used by the Senior Sponsors to assist with contacts for both Student and Parents(Guardians)  Please provide accurate information to help them stay in contact with you.</p>
