@{
    ViewBag.Title = "Contact of Senior Sponsors";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Teresa McDaniel<br />
    4154 Peanut Rd, Cottondale, FL 32431<br />
    <abbr title=" Home Phone">HP:</abbr>
    850.263.3683
    <abbr title=" Cell Phone">CP:</abbr>
    850.573.0471
</address>

